.navbar {
  background: $primary;
  border-color: $primary;  
  border-radius: 0;
  box-shadow: 0 3px 7px 0 $black-20-opacity;
  min-height: 58px;
  padding: 3px;
  z-index: 10;
}

.nav-tabs > li > a {
  margin-bottom: 10px;
  padding: 6px 15px;
}

.navbar-default {
  .navbar-brand {
    padding: 6px 15px;
    font-size: 30px;
    color: $text-color;
    > a {
      background-color: transparent;
      font-size: 29px;
      margin-bottom: 3px;
      margin-right: 9px;
      text-decoration: none;
      > img {
        height: 100%;
      }
    }
    > p {
      font-size: 13px;
      color: $text-color;
      font-weight: 600;
      font-style: italic;
    }
  }
  .navbar-brand {
    &:focus,
    &:active,
    &:hover {
      color: $text-color;
    }
  }
  .navbar-nav {
    > .open {
      > a, > a:hover, > a:focus {
          background-color: $primary;
          color: $text-color;
      }
      .dropdown-menu {
        margin-top: 3px;
        > li {
          > a, > a:hover, > a:focus {
              font-size: 17px;
              color: $text-color;
          }
        }
      }
      @media screen and (min-device-width: 768px) { 
        .dropdown-menu {
          > li {
            > a, > a:hover, > a:focus {
                color: $dark-gray-color;
            }
          }
        }
      }
    } 
    > li.dropdown {
      > a, > a:hover, > a:focus {
          font-size: 17px;
          color: $text-color;
      }
    }
  } 
}